<!doctype html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Giriş Sayfası</title>
   
   <style>

    body
    {
        background-image:
         url(arkaplan1.jpg);
        height: 95vh;
        background-size:cover;
        background-position:top;
        
    } 
     
  </style>
  
    <!-- Bootstrap core CSS -->

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous">

    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">


        <div class="container">
            <div class="logo"> <img  src="toler1.png" width="70"></div>
            <a class="navbar-brand" href="{{ path('AnaSayfa') }}">AnaSayfa</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                 
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('welcome') }}">Kategoriler </a>

                     </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">İletişim</a>
                    </li>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="{{ path('kayit') }}">Kayıt Sayfası</a>
                    </li>
                   <li class="nav-item">
                        <a class="nav-link" href="{{ path('Articles') }}">Article Sayfası</a>
                    </li>
                   <li class="nav-item">
                        <a class="nav-link" href="{{ path('article') }}">Yeni Ekle</a>
                    </li>
                    
                </ul>
                
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container main">
  {% block body %}{% endblock %}

</main>
<main role="main" class="Siparis main">
  

</main>


{% block javascripts %}{% endblock %}
</body>
</html>